<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />
	<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Architects+Daughter&family=Euphoria+Script&family=Patrick+Hand&family=Patrick+Hand+SC&family=Permanent+Marker&family=Walter+Turncoat&display=swap" rel="stylesheet">


	{{> base/font}}

	{{> base/analytics }}

</head>

<body>

	<main id='content'>

		{{> story/intro }}

	</main>

	{{> base/footerAlt }}


	<script src='{{basepath}}assets/scripts/d3.v5.12.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
