<footer class='pudding-footer' id="alt-footer">
	<div class="newsletter">
		<p>Did you like this project? Consider signing up for our newsletter.</p>
	</div>
	<div class="socials">
		<p>Or follow us on Instagram, Twitter, Facebook, and <a href="/feed/index.xml"></a>RSS.</p>
	</div>
	<div class="patreon">
		<p>We're also on Patreon, where you can throw a few dollars our way to support authors, like the one on this project.</p>
	</div>

	{{!-- recirc --}}
	<div class='footer-recirc'>
		<p>check out some of our other projects</p>
		<div class='footer-recirc__articles'></div>
	</div>

	{{!-- company --}}
	<div class='footer-company'>
		<div class='footer-company__about'>
			<img inline src='pudding/wordmark.svg'>
			<p class='footer-company__description'><a href='https://pudding.cool'>The Pudding</a> is a digital publication that explains ideas debated in culture with visual essays. Learn more about us <a href="/about">here</a>.</p>
			<p class='footer-company__trademark'>The Pudding<span>®</span> is made in Brooklyn, NY; Seattle, WA; San Antonio, TX; and Great Barrington, MA.</p>
			<a href='https://pudding.cool/privacy/'>
				<img inline src='lock.svg'>
				<p>PRIVACY</p>
			</a>

		</div>

	</div>
</footer>
